<div class="mt-20 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <%= image_tag 'present.png', class: "mx-auto h-10 w-auto", size: "36x36" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">アワード作成</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">
  <p>おたから の なかみ は ？</p>
  <p>※各挑戦期間ごとに最低2つ以上選択</p>

  <%= form_with model: @treasure_box, method: :post, local: true do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  
    <div class="my-4">
      <div class ="font-bold text-center">３日達成のごほうび</div>
        <%= f.collection_check_boxes :award_ids, Award.where(required_checks: :days_3), :id, :prize do |b| %>
          <div class="form-control">
          <label class="label cursor-pointer flex items-center">
            <span class="label-text mr-2"><%= b.text %></span>
            <%= b.check_box class: "checkbox checkbox-primary" %>
          </label>
        </div>
        <% end %>
    </div>

    <div class="my-4">
      <div class ="font-bold text-center">3週間達成のごほうび</div>
        <%= f.collection_check_boxes :award_ids, Award.where(required_checks: :weeks_3), :id, :prize do |b| %>
          <div class="form-control">
                 <label class="label cursor-pointer flex items-center">
                   <span class="label-text mr-2"><%= b.text %></span>
                   <%= b.check_box class: "checkbox checkbox-primary" %>
                 </label>
               </div>
        <% end %>
    </div>

    <div class="my-4">
      <div class ="font-bold text-center">3ヶ月達成のごほうび</div>
        <%= f.collection_check_boxes :award_ids, Award.where(required_checks: :months_3), :id, :prize do |b| %>
          <div class="form-control">
          <label class="label cursor-pointer flex items-center">
            <span class="label-text mr-2"><%= b.text %></span>
            <%= b.check_box class: "checkbox checkbox-primary" %>
          </label>
        </div>
        <% end %>
    </div>

    <div class="actions" my-4 flex items-center justify-center">
      <%= f.submit '作成する', class: "btn btn-primary btn-wide"%>
    </div>
  <% end %>

  <div class="field my-4">
  <%= button_to "もどる", user_path(current_user), method: :get, class: "btn btn-secondary btn-wide" %>
  </div>
  <div class="mt-10 mb-10 flex justify-center">
  <%= image_tag 'tree_01.png', class: "h-10 w-auto mx-2", size: "36x36" %>
  <%= image_tag 'tree_02.png', class: "h-10 w-auto mx-2", size: "36x36" %>
  <%= image_tag 'tree_01.png', class: "h-10 w-auto mx-2", size: "36x36" %>
</div>
  </div>
</div>