<div class="mt-20 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag 'horse.png', class: "mx-auto h-10 w-auto", size: "36x36" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">ロ グ イ ン</h2>
  </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center justify-center">
    <%= render "shared/flash_message", resource: resource %>
     
      <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>

        <div class="field my-4 flex items-center justify-center">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネーム", class: "input input-bordered w-full max-w-xs"%>
        </div>

        <div class="field my-4 flex items-center justify-center">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input input-bordered w-full max-w-xs"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field my-4 flex items-center justify-center">
            <div class="form-control">
              <label class="label cursor-pointer flex items-center">
                <%= f.check_box :remember_me, class: "checkbox checkbox-primary mr-2" %>
                <span class="label-text"><%= f.label :remember_me %></span>
              </label>
            </div>
          </div>
        <% end %>

        <div class="actions" mt-10 flex items-center justify-center">
          <%= f.submit "ログイン", class: "btn btn-secondary btn-wide" %>
        </div>
    <% end %>

    <div class="field my-4">
      <%= button_to "新規ユーザ登録する", new_user_registration_path, method: :get, class: "btn btn-primary btn-wide" %>
    </div>
    <div class="field my-4">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</div>
