<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-20 text-center text-base font-bold leading-9 tracking-tight text-gray-900">めいん めにゅー</h2>
      <%= image_tag 'brave.png', class: "mx-auto h-10 w-auto", size: "36x36" %>

      <%= render "shared/flash_message" %>

      <h2 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900">Lv.0  はじまり の まち</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">

  <div class="my-4">
    <% if @check_list&.open? %>
      <%= button_to "今日のチェックをする", new_check_record_path, method: :get, class: "btn btn-error btn-wide" %>
    <% else %>
      <div class="tooltip tooltip-right" data-tip="STEP:3 ぼうけんをはじめよう！">
      <%= button_to "今日のチェックをする", "#", method: :get, class: "btn btn-disabled btn-wide" %>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <% if @check_list.present? %>
      <%= button_to "チェックリスト編集", edit_check_list_path, method: :get, class: "btn btn-primary btn-wide" %>
    <% else %>
      <div class="tooltip tooltip-right" data-tip="STEP:2 チェックするものをきめよう">
      <%= button_to "チェックリスト作成", new_check_list_path, method: :get, class: "btn btn-primary btn-wide" %>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <% if @treasure_box.present? && !@treasure_box.opened %>
      <%= button_to "アワード編集", edit_treasure_box_path, method: :get, class: "btn btn-accent btn-wide" %>
    <% else %>
      <div class="tooltip tooltip-right" data-tip="STEP1: ごほうびをきめよう">
      <%= button_to "アワード作成", new_treasure_box_path, method: :get, class: "btn btn-accent btn-wide" %>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= button_to "ユーザ編集", edit_user_registration_path, method: :get, class: "btn btn-secondary btn-wide" %>
  </div>

  <div class="my-4">
    <% if @user.check_lists.where(open: false).exists? %>
      <%= button_to "達成記録閲覧画面", check_lists_path, method: :get, class: "btn btn-warning btn-wide" %>
    <% else %>
      <%= button_to "達成記録閲覧画面", '#', class: "btn btn-disabled btn-wide", disabled: true %>
    <% end %>
  </div>
  
  <div class="mt-10 mb-10 flex justify-center">
    <%= image_tag 'tree_01.png', class: "h-10 w-auto mx-2", size: "36x36" %>
    <%= image_tag 'tree_02.png', class: "h-10 w-auto mx-2", size: "36x36" %>
    <%= image_tag 'tree_01.png', class: "h-10 w-auto mx-2", size: "36x36" %>
  </div>
  </div>    
  </div>
</div>