<div class="mt-20 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <%= image_tag 'town_ballon.png', class: "mx-auto h-10 w-auto", size: "36x36" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">本日のチェック</h2>
  </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">

    <div class="font-bold text-center mb-4">本日 の 天気</div>
        <div id="weather-info">
        <!-- 天気情報がAJAXによりここに挿入されます -->
       </div>
   
      <div class="my-4">
        <%= form_with model: @check_record, url: check_records_path, scope: :check_record, local: true do |f| %>
       
          <div class="mt-10">
            <div class="font-bold text-center mb-4">確認したらチェックをつけよう！</div>
              <%= f.collection_check_boxes :check_item_ids, @check_items, :id, :name, include_hidden: false do |b| %>
                <div class="form-control">
                  <label class="label cursor-pointer flex items-center">
                  <span class="label-text mr-2"><%= b.text %></span>
                    <%= b.check_box class: "checkbox checkbox-primary" %>
                  </label>
                </div>
              <% end %>
          </div>

          <div class="my-5">
            <%= f.submit 'ぼうけんにでる！', class: "btn btn-primary btn-wide" %>
          </div>
        <% end %>
    </div>
    
    <div class="my-4">
      <%= button_to "もうちょっとあとで", user_path(current_user), method: :get, class: "btn btn-secondary btn-wide" %>
    </div>
  </div>
</div>
<script>
document.addEventListener('turbo:load', function() {
  function fetchWeather(latitude, longitude) {
    fetch('/check_records/weather', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      },
      body: JSON.stringify({
        latitude: latitude,
        longitude: longitude
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.weather) {
        const weatherHtml = `
          <h4>天気: ${data.weather.description}</h4>
          <div>気温: ${data.weather.temp_celsius}°C</div>
          <div>湿度: ${data.weather.humidity}%</div>
        `;
        document.getElementById('weather-info').innerHTML = weatherHtml;
      } else {
        document.getElementById('weather-info').innerText = '天気情報の取得に失敗しました。';
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }

  navigator.geolocation.getCurrentPosition(function(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    fetchWeather(latitude, longitude);
  }, function(error) {
    console.error("Error Code = " + error.code + " - " + error.message);
  });
});
</script>
