<div class="mt-20 flex flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag 'flowers.png', class: "mx-auto h-10 w-auto", size: "36x36" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">新 規 登 録</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center justify-center">

    <%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
    <%= render "shared/error_messages", resource: resource %>

      <div class="field my-4 flex items-center justify-center">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネーム", class: "input input-bordered w-full max-w-xs" %>
      </div>

      <div class="field my-4 flex items-center justify-center">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Eメール", class: "input input-bordered w-full max-w-xs" %>
      </div>

      <div class="field my-4 flex items-center justify-center">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "input input-bordered w-full max-w-xs" %>
      </div>

      <div class="field my-4 flex items-center justify-center">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "input input-bordered w-full max-w-xs"%>
      </div>

      <div class="actions mt-10 flex items-center justify-center">
      <%= f.submit "登録する", class: "btn btn-secondary btn-wide" %>
      </div>
    <% end %>
    
    <div class="field my-4">
    <%= button_to "ログイン画面へ", new_session_path(resource_name), method: :get, class: "btn btn-primary btn-wide" %>
    </div>
</div>
</div>